static/schema.xsd



<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:simpleType name="text_tuit">
      <xs:restriction base="xs:string">
      <xs:maxLength value="140"/>
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sent_tuit">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NEUTRA"/>
      <xs:enumeration value="POSITIVA"/>
      <xs:enumeration value="NEGATIVA"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="tuits">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tuit" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="text_tuit" name="text"/>
              <xs:element type="sent_tuit" name="sent"/>
              <xs:element type="xs:string" name="day"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

